server:
  port: 8080

app:
  borrowing:
    maxActiveLoansPerMember: 5
    maxLoanDays: 14
  security:
    jwt:
      secret: change-me-change-me-change-me-change-me-secret-key-32-chars
      expiration: 2m
      issuer: library-bff
    admin:
      name: Admin
      email: admin@example.com
      password: admin-pass

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
  flyway:
    enabled: true
    baseline-on-migrate: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: when_authorized

logging:
  level:
    root: info
    com.example.library.security: debug
    org.springframework.security: debug
